/* 
child combinator ឬ​ child selector 
ជ្រើសយកកូនធាតុដោយប្រើសញ្ញា​ >។
របៀបសរសេរ មេធាតុ​ > កូនធាតុ

descendant combinator ឬ​ descendant selector
 ជ្រើសយកកូនធាតុជំនាន់ក្រោយដោយប្រើសញ្ញាដកឃ្លា​ ។
របៀបសរសេរ ធាតុជំនាន់មុន ធាតុជំនាន់ក្រោយ

pesudo-class selector ជា​ selector ដែលផ្ដើមដោយសញ្ញា : ដូចជា 

:link ជ្រើសតំណដែលគេមិនទាន់បានចុចទស្សានា។
:visited ជ្រើសតំណដែលគេបានចុចទស្សនារួចហើយ។
:hover ជ្រើសធាតុដែលគេសំកាំង mouse ពីលើវា។

*/

#hMenu > a {
    display: inline-block;
    padding: 4px 8px;
    width: 95px;
    text-align: center;
    margin-right: -5px;
}

#hMenu > a:link, #hMenu > a:visited {
    text-decoration: none;
    color: black;
}

#hMenu a:hover {
   background: pink;
   border-radius: 8px;
}
