#dataCollection{
    width: 288px;
    margin: 16px auto;
}
.label1{
    display: inline-block;
    width: 96px;
}
#txt, #pwd{
    width: 185px;
}
legend{
    text-align: center;
}
input, fieldset, select {
    border-radius: 5px;
}
fieldset > div {
    display: inline-block;
}
input:hover, select:hover{
    background-color: lightblue;
    transition: all 0.3s ease-out;
}
select{
    width: 288px;
}
#btn, #rst, #smt{
    border-width: 1px;
    width: 92px;
    margin-top: 4px;
}