#datacollection{
    width: 288px;
    margin: 16px auto;
}
#txt,#pwd{
    width: 185px;
}
.label1{
    display: inline-block;
    width: 96px;
}
legend{
    text-align: center;
}
input, fieldset, select{
    border-radius: 5px;
}
input:hover, select:hover{
    background-color: lightskyblue;
}
fieldset > div{
    display: inline-block;
}
select{
    width: 288px;
}
#btn,#rst, #smt{
    border-width: 1px ;
    width: 93px;
    margin-top: 4px;
}